@mixin h1 {
  font-family: "Gronland";
  font-style: normal;
  font-weight: 400;
  @include clamp("font-size", 60px, 6.52vw, 125px);
  letter-spacing: -0.02em;
  line-height: 100%;
  // margin-bottom: 0.5em;

  @include breakpoint(small) {
    line-height: 110%;
  }
}

@mixin h1-large {
  font-family: "Gronland";
  font-style: normal;
  font-weight: 400;
  font-size: 216px;
  @include clamp("font-size", 82px, 11.25vw, 216px);
  line-height: 100%;
  letter-spacing: -0.035em;

  @include breakpoint(small) {
    line-height: 95%;
    letter-spacing: -0.03em;
  }
}

@mixin h1-medium {
  font-family: "Gronland";
  font-style: normal;
  font-weight: 400;
  @include clamp("font-size", 60px, 8.86vw, 170px);
  line-height: 104%;
  letter-spacing: -0.035em;

  @include breakpoint(small) {
    line-height: 110%;
    letter-spacing: -0.03em;
  }
}

@mixin h2 {
  font-family: "Gronland";
  font-style: normal;
  font-weight: 400;
  @include clamp("font-size", 42px, 5vw, 96px);
  letter-spacing: -0.02em;
  line-height: 110%;
  // margin-bottom: 0.5em;

  @include breakpoint(small) {
    line-height: 120%;
  }
}

@mixin h3 {
  font-family: "Gronland";
  font-style: normal;
  font-weight: 400;
  @include clamp("font-size", 32px, 3.8vw, 72px);
  letter-spacing: -0.01em;
  line-height: 110%;
  // margin-bottom: 0.5em;

  @include breakpoint(small) {
    line-height: 120%;
  }
}

@mixin h4 {
  font-family: "Gronland";
  font-style: normal;
  font-weight: 400;
  @include clamp("font-size", 26px, 2.3vw, 44px);
  letter-spacing: -0.01em;
  line-height: 130%;

  @include breakpoint(small) {
    line-height: 120%;
  }
}

@mixin h5 {
  font-family: "Gronland";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.06em;
  line-height: 100%;
  // margin-bottom: 0.5em;
}

@mixin h6 {
  font-family: "Gronland";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.06em;
  line-height: 100%;
  // margin-bottom: 0.5em;
}

@mixin body-copy {
  font-family: "Gronland";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  @include clamp("font-size", 24px, 1.46vw, 28px);
  letter-spacing: 0em;
  color: $text_color;

  @include breakpoint(small) {
    line-height: 140%;
  }
}

@mixin body-copy-small {
  @include clamp("font-size", 18px, 1.25vw, 24px);
  letter-spacing: 0em;
  line-height: 150%;

  @include breakpoint(small) {
    letter-spacing: 0.01em;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Gronland";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  @include clamp("font-size", 14px, 1vw, 18px);
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  background-color: $bright_green;
  border: none;
  border-radius: 6px;
  padding: 0.25em 1em 0;
  width: 300px;
  height: 50px;
  white-space: nowrap;
  transition: 0.15s;

  &:hover {
    color: $light_green;
    background-color: $dark_evergreen;
  }

  @include breakpoint(small) {
    width: 100%;
  }

  &--outline {
    @extend .button;
    color: $dark_evergreen;
    background-color: $white;
    border: 1px solid $bright_green;

    &:hover {
      color: $white;
      background-color: $bright_green;
    }
  }

  &--light-green {
    @extend .button;
    color: $dark_evergreen;
    background-color: $light_green;

    &:hover {
      color: $light_green;
      background-color: $dark_evergreen;
    }
  }

  &--white {
    @extend .button;
    color: $bright_green;
    background-color: $white;

    &:hover {
      color: $light_green;
      background-color: $dark_evergreen;
    }
  }
}

@mixin button {
  @extend .button;
}

.indented-text-link {
  position: relative;
  white-space: nowrap;
  font-family: "Gronland";
  font-style: normal;
  font-weight: 400;
  @include clamp("font-size", 42px, 3.75vw, 72px);
  line-height: 110%;
  letter-spacing: -0.01em;
  color: $text_color;
  transition: 0.15s padding-left;
  text-decoration: none;
  cursor: pointer;

  &:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 43%;
    left: 0;
    transform: translateY(-50%);
    @include clamp("width", 10px, 1.05vw, 20px);
    @include clamp("height", 20px, 2.09vw, 40px);
    background-image: url("/images/icon-indented-text-link.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0;
    transition: 0.15s opacity;
  }

  &:hover {
    padding-left: 0.5em;

    &:before {
      opacity: 1;
    }
  }

  &--medium {
    @extend .indented-text-link;
    @include h4;
    line-height: 140%;

    @include breakpoint(medium) {
      @include h3;
    }

    &:before {
      top: 38%;
      @include clamp("width", 9px, 0.7vw, 12px);
      @include clamp("height", 16px, 1.3vw, 24px);
      background-image: url("/images/icon-indented-text-link-medium.svg");
    }

    &:hover {
      padding-left: 0.5em;

      &:before {
        opacity: 1;
      }
    }
  }

  &--small {
    @extend .indented-text-link;
    font-size: 28px;
    line-height: 150%;

    @include breakpoint(medium) {
      font-size: 24px;
    }

    &:before {
      top: 50%;
      width: 8px;
      height: 16px;
      background-image: url("/images/icon-indented-text-link-small.svg");
    }

    &:hover {
      padding-left: 0.5em;

      &:before {
        opacity: 1;
      }
    }
  }
}

@mixin indented-text-link {
  @extend .indented-text-link;
}

@mixin indented-text-link--medium {
  @extend .indented-text-link--medium;
}

@mixin indented-text-link--small {
  @extend .indented-text-link--small;
}

.eyebrow {
  font-family: "Gronland";
  font-style: normal;
  font-weight: 500;
  @include clamp("font-size", 14px, 1vw, 18px);
  line-height: 111%;
  letter-spacing: 0.08em;
  text-transform: uppercase;

  @include breakpoint(small) {
    line-height: 100%;
  }
}
