// Main Colors
$white: #ffffff;
$black: #000000;

// Primary Colors
$light_green: #c2f7ad;
$bright_green: #56d690;
$sky_blue: #a4c7f0;
$dark_evergreen: #092d2e;

// Secondary Colors
$sun_glow: #ffef8a;
$green: #2caa7c;
$slate_gray: #aeb9bf;
$soft_white: #fbfcfa;

// Typography Colors
$text_color: #25444a;

$dark_purple: #25444a;
$grey: #25444a;
$purple: #25444a;
