body {
  @include body-copy;
}

h1,
.h1 {
  @include h1;
}

.h1-large {
  @include h1-large;
}

h2,
.h2 {
  @include h2;
}

h3,
.h3 {
  @include h3;
}

h4,
.h4 {
  @include h4;
}

h5,
.h5 {
  @include h5;
}

h6,
.h6 {
  @include h6;
}

p {
  line-height: 150%;
}

.body-copy-small {
  @include body-copy-small;
}

.button {
  @include button;
}

.eyebrow {
  font-family: "Gronland";
  font-style: normal;
  font-weight: 500;
  // @include clamp("font-size", 14px, 1vw, 18px);
  font-size: 12px;
  line-height: 111%;
  letter-spacing: 0.08em;
  text-transform: uppercase;

  @include breakpoint(small) {
    line-height: 100%;
  }
}

.indented-text-link {
  @include indented-text-link;
}
