body {
  font-family: "Gronland";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  @include clamp("font-size", 24px, 1.46vw, 28px);
  letter-spacing: 0em;
  color: $text_color;

  @include breakpoint(small) {
    line-height: 140%;
  }
}

h1,
.h1 {
  @include h1;
}

.h1-large {
  @include h1-large;
}

h2,
.h2 {
  @include h2;
}

h3,
.h3 {
  @include h3;
}

h4,
.h4 {
  @include h4;
}

h5,
.h5 {
  @include h5;
}

h6,
.h6 {
  @include h6;
}

p {
  line-height: 150%;
}

.body-copy-small {
  @include clamp("font-size", 18px, 1.25vw, 24px);
  letter-spacing: 0em;
  line-height: 150%;

  @include breakpoint(small) {
    letter-spacing: 0.01em;
  }
}
