// Reset
@import "vendor/reset";
@import "vendor/flickity";

@import "helpers";
@import "fonts";
@import "typography";

html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  background-color: #fafcfa;
  // background-color: gray;
}

.wysiwyg {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1.5em;
    margin-bottom: 1.5em;

    &:first-of-type {
      margin-top: 0;
    }
  }
  p {
    margin-bottom: 1.5em;
    a {
      color: $green;
      text-decoration: underline;
    }
  }
  blockquote {
    margin: 0 5vw;
  }
  img {
    width: auto;
    max-width: 100%;
    height: auto;
    &.alignright {
      float: right;
      margin: 10px;
      margin-top: 0.25em;
      margin-right: -50px;
      width: auto;
      max-width: 50%;
    }

    &.alignleft {
      float: left;
      margin: 10px;
      margin-top: 0.25em;
      margin-left: 0;
      width: auto;
      max-width: 50%;
      margin-left: -50px;
    }
    &.aligncenter {
      width: auto;
      max-width: 50%;
    }
    &.aligncenter,
    &.alignnone {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    &.alignnone {
      width: calc(100% + 200px);
      height: auto;
      margin: 100px 0 60px -100px;
      max-width: none;
      @include breakpoint(medium) {
        width: calc(100% + 80px);
        margin: 50px 0 50px -40px;
      }

      @include breakpoint(small) {
        width: calc(100% + 40px);
        margin: 25px 0 25px -20px;
      }
    }
  }
  .wp-caption {
    margin: 2em 0 3em;

    &.alignright {
      float: right;
      text-align: right;
      margin-top: 0.25em;
      margin-right: 0;
    }

    &.alignleft {
      float: left;
      margin-top: 0.25em;
      margin-left: 0;
    }

    &.aligncenter,
    &.alignnone {
      display: block;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }

    a {
      border: none;
    }

    img {
      margin: 0;
    }

    .wp-caption-text {
      font-size: 16px;
      letter-spacing: -0.2px;
      line-height: 30px;
      margin-top: 1em;
    }
  }

  ul {
    list-style: disc;
    list-style-position: inside;
    margin-bottom: 1em;
    a {
      color: $green;
      text-decoration: underline;
    }
    li {
      margin-bottom: 0.5em;
      line-height: 1.5em;
    }
  }

  ol {
    list-style: decimal;
    list-style-position: inside;
    margin-bottom: 1em;
    a {
      color: $green;
      text-decoration: underline;
    }
    li {
      margin-bottom: 0.5em;
      line-height: 1.5em;
    }
  }
}
